h1 {
  font-size: 125%;
  margin: auto;
  text-align: left;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 110%;
}

h4 {
  margin: 0px;
  font-size: 110%;
  text-align: left;
}

h5 {
  font-size: 105%;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
}

.panel-heading {
  cursor: pointer;
}

b {
  font-weight: 600;
}

body {
  background-color: #f5f5f5;
}

.card-header {
  padding: 12px 8px;
}

.alert {
  font-size: 95%;
  font-style: oblique;
  padding: 8px 12px;
  margin-bottom: 12px;
}

#footer {
  font-size: 80%;
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
}

#size-break {
  display: none;
}

/* <br> tag for sortby for small screen */
@media only screen and (max-width: 401px) {
  #size-break {
    display: block;
  }
}
