h1{
  font-size: 125%;
  margin: auto;
}

body {
  background-color: #f5f5f5;
}

.alert {
  font-size: 95%;
  font-style: oblique;
  padding: 8px 12px;
  margin-bottom: 12px;
}

#size-break {
  display: none;
}

@media only screen and (max-width: 401px) {
  #size-break {
    display: block;
  }
}